.action
    background: #000000 url('../../img/hero/photo_1.jpg') no-repeat center
    background-size: cover
    padding-top: 25px
    padding-left: 20px
    min-height: 170px
    h1
        margin:5px 
        font-size: 1em
    
   