.action
    background: #000000 url('../../img/hero/photo_1.jpg') no-repeat center
    background-size: cover
    padding-top: 25px
    padding-left: 20px
    min-height: 170px
    &-title
        margin:5px 
        font-size: 1em
    &-button
        margin-left: 30px
        margin-top: 10px
        padding: 7px 20px
        outline: 0
        color: #ffffff
        background-color: #000000
        border: solid 4px #ffffff
        box-shadow: 0 0 0 0 rgba(#ffffff, 0.5)
        transition: box-shadow 150ms ease-out, background-color 100ms ease-out
        &:focus
            box-shadow: 0 0 0 4px rgba(#fff, 0.5)
        &:active
            background-color: #ff1ead





        
    
   