.header
    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 70px
        .logo img
            width: 100px
        


.navbar
    display: flex
    &-phone-number
        margin: 15px 
        display: none
        &__link
            color: #fff
            background: url("../../img/icons/phone-icon.png") no-repeat
            background-size: 20px
            padding-left: 25px
            text-decoration: none
    &-social
        display: none
        &__link
            margin:15px 7px 
        &__img
            width: 20px
    &-menu
        position: fixed
        top: 54px
        left: 0
        width: 100%
        z-index: 0
        transform: translateY(-200%)
        &_active
            transform: translateY(0)
        &__nav
            background-color: #000000
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 20px
        &__link
            text-decoration: none
            text-transform: uppercase
            font-size: 0.7em
            color: #e45dcd
            margin-top: 10px
            text-align: right


    
    

.menu-button
   display: flex
   align-items: center
   justify-content: center
   background-color: transparent
   flex-direction: column
   height: 50px
   width: 40px
   border: none
   outline: none
   &__line
       display: block
       width: 30px
       height: 3px
       background-color: #e45dcd
       margin: 2px 0


@media (min-width: 610px)
    .navbar
        &-menu
            z-index: 0
            position: relative
            top: 0
            left: 0
            transform: translateY(0)
            &__nav
                flex-direction: row
                justify-content: flex-end
                padding-left: 0
                
            &__link
                margin-top: 0
                margin-left: 10px

    .menu-button
        display: none
    .header
         &-wrap
            justify-content: space-between
      


@media (min-width: 800px)
    .navbar
        &-phone-number
            display: block  
            

@media (min-width: 925px)
    .navbar
        &-social
            display: flex