.navbar
    background-color: #000000
    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 70px
        .logo img
            width: 100px
    &__menu-button
        



.menu
    &-button
        display: flex
        align-items: center
        justify-content: center
        background-color: transparent
        flex-direction: column
        height: 50px
        width: 40px
        border: none
        &__line
            display: block
            width: 30px
            height: 3px
            background-color: #e45dcd
            margin: 2px 0
            




        
        